@import '/src/assets/styles/variables.scss';
@import '/src/assets/styles/mixins.scss';

.login-wrapper {
  width: 100%;
  height: 100%;
  @include fullCenter();
}

.login {
  padding: 20px;
  width: 480px;
  border: 1px solid $shaft;
  border-radius: 12px;
  background-color: $codLight;

  &__title {
    margin-bottom: 32px;
    text-align: center;
    @include text($h3, bold, $white);
  }

  &__form {
    form {
      display: flex;
      flex-direction: column;
    }
    &-user {
      margin-bottom: 16px;
    } 
    &-room {
      margin-bottom: 4px;
    }
    &-hint {
      margin-bottom: 24px;
      @include text($cap-l, normal, $gray);
    }
  }
}
