/******* color variables *******/
$electric: #8739F9;
$amethyst: #C651CD;
$shaft: #363636;

// dark colors
$codDark: #100F10; // dark
$codLight: #1B1B1B; // light
$codLighter: #242424; // lighter

// common colors
$white: #fff;
$black: #000;
$gray: gray;

/******* font variables *******/
$font-lighter: rgba(#fff, 0.96);
$font-light: rgba(#fff, 0.67);
$font-dark: rgba(#fff, 0.45);

// caption sizes
$cap-s: 0.375rem;
$cap-m: 0.625rem;
$cap-l: 0.875rem;

// text sizes
$text-s: 1rem;
$text-m: 1.375rem;
$text-l: 1.75rem;

// heading sizes
$h3: 2.5rem;
$h2: 3.5rem;
$h1: 4.5rem;
